    @font-face{
      font-family:'OpenSans';
      font-style: normal;
      src: url('tipografias/OpenSans-Regular.ttf');
    }
    
    body{
      font-family:'OpenSans'; 
    }
    
    .contain {
      width: 30%;
      float: right;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width:100%;
      background-size:cover;
    } 
    
    .row.content {height: 208px}
    
    .sidenav {
      padding: 5%;
      background-color: #f1f1f1;
      height: 100%;
    }
    .cohort {
      background-color: yellow;
      margin: 20px;
      border-radius: 10px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


    